body{
	background:#fff;
	font-family: 'Open Sans',"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
body, input, select, textarea, button {
-webkit-font-smoothing: antialiased;
}
.button{
	border-width: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans',"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	
}
@media only screen {
  button, .button {	
	-webkit-box-shadow: none;
	box-shadow: none;
	}
	button:active, .button:active {
	  -webkit-box-shadow: none;
	  box-shadow: none;}
	}

 header {
background-color: #000;
padding: 5px 0;

}
header a{
	color:#fff;
}

header h4 a, header h4, header h4 a:visited, header h4 a:hover{
	display:inline !important;
	color:#fff;
	font-size:26px;
}
header ul{
	line-height:1em;
	margin-bottom:0px !important;
	margin-top:2px !important;
}

input[type='text'],input[type='number'],textarea {font-size:16px;}
select{
	font-size:16px;
}
.login-info{
	width:6em;
	margin-left: 1em;
}
.login-info img{
	float:left;
	
	margin-top:.4em;
}
#login-info-menu a{
	color:#178FE1;
	background:none;
	width:100%;
	display: block;
	font-size: 1.3em;
}
#login-info-menu a:hover{
	
	background:#ececec;
	
}
.footer{
	background:#178FE1;
	padding:1em;
	color:#fff;
	min-height:300px;
	margin-top: 2em;
}
.footer a{
	color:#fff;
}
.comment-icon{
	margin-left:1em;
}
.activity-date{
	font-size:.7em;
	color:#aaa;
}
.min-page-height{
	min-height: 400px;
}
#compare_friends_list a{
	float:left;
	margin-right:5px;
}
#add-film,#edit-film{
	background:#333;

}
#add-film label, #edit-film label{
	color:#ececec;
	margin-bottom: 1.2em;
}
#add-film h2,#edit-film h2{
	color:#fff;
	margin-top:.5em;
}
#add-film h4 ,#edit-film h3{
	color:#ccc;
}
#add-film p, #edit-film p{
	color:#aaa;
}
.feed-item{
	margin-bottom: 1em;

}
.feed-padding{
	padding: 10px;
	background:#fff;
}
.feed-padding .columns{

}
#feed p{
	margin-bottom:0em !important;
}
#feed h6, #feed h4{
	margin-bottom:0em !important;
}

.progress{
	padding:0px;
	height:1.2em;
}
.trailer-con{
	display:none;
}

.fb-btn{
	background:#3b5998;
	
}
.fb-btn i{
	font-size:34px;
}
.fb-btn:hover{
	background:#3c68c3 !important;
}
span.label-right{
	float:right;
}
label{
	font-weight:300;
}
.progress{
	border:none;
	background:#ececec;
}
.fa-user{
	margin-right:10px;
}
.friend-icons {
	float: right;
	padding: 5px;
}
.has-tip{
	border:none;
}
#rt_results{
	min-height: 50px;
}
label.sliders{
	margin-bottom:.5em;
}
.film_actions_bar{
	background:#333;
	padding:.5em .9em;
}
.film_cover{
	position:relative;
}
.film_cover h2{
	background-color:rgba(23, 143, 225, .6);
	padding: .5em;
	position: absolute;
	bottom: 1em;
	left: 0px;
	z-index: 10;
	color: #fff;
	font-size: 1.2em;
	text-shadow:1px 1px #666;
}
.film_cover a{
	color:#fff;
	font-size: .8em;
}
#add-film.reveal-modal, #edit-film.reveal-modal{
	margin-left:-45%;
	width:90%;

}
.top_bg{
	background:url(/media/img/bg/bg-jimmy-stewart-800.jpg) no-repeat center center;
	background-size:cover;
	color:#fff;
	min-height:500px;
}
.top_bg p a{
	color:#fff;
	text-decoration: underline;
}
.top_bg .subheader{
	color:#fff;
}
.reveal-modal .close-reveal-modal{
	top: 0.3em;
	right: 0.4875em;
}

@media only screen and (min-width: 768px) {
	#add-film.reveal-modal, #edit-film.reveal-modal{
		margin-left:-35%;
		width:70%;
	}
	body{
		background:#f5f5f5 !important;
	}
	.top_bg{
		background:url(/media/img/bg/bg-jimmy-stewart-1600.jpg) no-repeat top center;
		
	}
}
@media only screen and (min-width: 1440px) {
	#add-film.reveal-modal, #edit-film.reveal-modal{
		margin-left:-15%;
		width:30%;
	}

}

.f-dropdown.medium{
	max-width: 400px;
}
.top-bar-section ul li > a:not(.button) {
	text-transform:uppercase;
	color:#ccc;
	font-family: "Open Sans","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

}
.top-bar-section ul li > a {
	
	font-weight:600;

}
#watchlist_search input{
	
}

.new-rating{
	position: absolute;
	background: #ef8911 ;
	padding: 4px 11px;
	color: #fff;
	top: 1.4em;
	width: 87px;
	left: -6em;
	text-align: center;
	text-transform: uppercase;
}
.new-rating:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ef8911;
	right: -10px;
	top: 50%;
	margin-top: -10px;
}
.not-yet-rated .noUi-connect{
	background:#ef8911 ;
}
#film_title{
	position:relative;
}
.rec-con span{
	display: block;
	float: left;
	margin-right: 10px;
	padding: 5px 8px;
	margin-bottom: 1em;
	background: #178FE1;
	border-radius: 5px;
	color: #fff;
}
.rec-con span a{
	color:#fff !important;
	font-size:1.2em;
	padding-left: .6em;
}
.rec-con{
	overflow: auto;
	
}
.rec-input{
	
	
	margin-bottom: 1em;
	margin-top: 1em;
}
#autocomplete_loader{
	position:absolute;
	top:-40px;
	left:0px;
	width:50px;
	height:40px;
}
.notif_parent{
	position:relative;
}
.notif_parent span.notif{
	background: #178FE1;
	border-radius: 10px;
	padding: 1px 4px;
	position: absolute;
	font-size: .8em;
	right: -8px;
	font-weight: 700;
	text-align: center;
	color:#fff;
}
a.notif_parent:hover span.notif{
	color:#fff;
}
#notif_list a{
	color:#178FE1;
}
.notif_large.notif_parent span.notif{
	
	font-size: .8em;
	right: 8px;
	line-height: 1.3em;
	top: 8px;
}
.m_list_name{
	font-size:.8em;
}
.m_list_item:hover .delete_comment{
	display:block;
}
.m_list_item{
	clear:both;
	margin-bottom: 1em;
	overflow: auto;
	position: relative;
}
.m_list_item p, .m_list_item a{
	font-size:.8em;
}
.m_list_left{
	float:left;
}
.m_list_right{
	float:left;
	margin-left:1em;
	width:70%;
	
}
.f-dropdown{
	font-size:11px;
}
.f-dropdown p{
	margin-bottom:0em;

}
@media only screen and (max-width: 768px) {

	.f-dropdown:before, .f-dropdown:after{
		display:none !important;
	}
}
.progress.compare1 .meter{
	background:#ef8911 !important;
}

.progress.compare2 .meter{
	background:#e0cb3c !important;
}

.progress.compare3 .meter{
	background:#73c7c8 !important;
}

.progress.compare4 .meter{
	background:#a12929 !important;
}
.progress.compare5 .meter{
	background:#b373c8 !important;
}

.info_section{
	margin-top:2em;
	padding-top:2em;
	border-top:1px solid #ececec;
}

/*  TIP FILM DOT */
.tip-line-bg{
	height:2px;
	background:#333;
	
	position:absolute;
	top:2px;
	left:0px;
}
.tip-line{
	position:absolute;
	top:17px;
	left:0px;
}
.film-dot{
	position: absolute;
	height:10px;
	width:5px;
	background:#f1c40f;
	top:-2px;
	z-index:10;
	left:0px;
	border-radius:2px;
}
.dot-current{
	background:#3498db;
	z-index:11;
}
.dot-con{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}
.tip{
	
	background: #000;
	height: 40px;
	border-radius: 5px;
	position:fixed;
	z-index:1000000;
	display:block;
	
	display:none;
}
.intercept-film{
	position:absolute;
	padding:8px;
	color:#fff;
	text-align:center;
	top:-50px;
	background:#000;
	width:300px;
	left:40px;
	border-radius:5px;
	opacity:1;
	display:none;
}

#film_search_message{
	color:#ececec;

}
#feed .comment_form textarea{
	min-height:40px;
}
#feed .comment_form #submit_comment{
	
}
.reveal-modal .close-reveal-modal{
	font-size:2.375em;
}

#header_all{
	padding-bottom:4em;
}
.delete_comment{
	position: absolute;
	top:0px;
	right:0px;
	display:none;
}
.comment-box .m_list_right{
	width:75%;
}
.comment-box .m_list_item p a{
	font-size:1em;
}
/* RMG */
.rmg{
	
	background:#000;
	margin-bottom:1em;
	color:#ccc;
}

.rm{
	margin-bottom:1em;
	padding:1em;
	padding-top:0em;
	
}
.rmg h5{
	color:#fff;
	font-weight:300;
	
	margin-left:-10px;
	padding:10px;
	margin-top: 0px;
}
.rmg p{
	font-size:.8em;
}
.rmg .rmg-movie-item{
	margin-bottom:1em;
}
.rmg .rmg-movie-item img{
	margin-right:1em;
}
.remove-left-gutter{
	position: relative;
	right: 0.1375em;
	left: auto;
	margin-left: -0.1375em;
	padding: 0px;
}
img.round-image{
	border-radius:60px;
}
.add-remove-watchlist, .add-this{
	margin-bottom:0px;
}
.add-remove-watchlist.onlist{
	background-color: #5da423;
	border-color: #457a1a;
}
.add-remove-watchlist .fi-check{
	display:none;
}

.add-remove-watchlist .fi-plus{
	display:inline;
}
.add-remove-watchlist.onlist .fi-check{
	display:inline;
}

.add-remove-watchlist.onlist .fi-plus{
	display:none;
}
.add-remove-watchlist.onlist span:after{
	content:' watchlist';
	
}
.add-remove-watchlist span:after{
	content:' watchlist';
	
}
.rm.watchlist{
	background:#178FE1;
}
.rm.watchlist a{
	color:#fff;
}
ul.my-watchlist{
	margin-left: 0px;
}
ul.my-watchlist li{
	float:left;
	width:8em;
	margin-right:.6em;
	height:14em;
	position: relative;
}
ul.my-watchlist li .watchlist_bottom_bar{
	position: absolute;
	top:0px;
	left:0px;
	width:9em;
}
@media only screen and (max-width: 40em) {
	ul.my-watchlist li{
		float:none;
		width:100%;
		height:6em;
		margin-bottom: 1em;
		list-style: none;
	}
	ul.my-watchlist li img{
		height:100%;
	}
	.watchlist-right{
		margin-left:1em;
		float:left;
		width: 70%;
	}
}
.handle{
	display:inline;
}
button.tiny, .button.tiny{
	padding-top:0.325rem;
	padding-bottom:0.325rem;
}
form.custom .custom {

	width: 30px;
	height: 30px;

}

form.custom .custom.checkbox.checked:before {

	margin-top: 13px;
	margin-left: -9px;
}
form.custom .custom.checkbox:before {
	
	font-size: 30px;
	
}
@media only screen and (min-width: 40.063em) {
  .top-bar {
    background: #111111;
    *zoom: 1;
    overflow: visible; }
    .top-bar:before, .top-bar:after {
      content: " ";
      display: table; }
    .top-bar:after {
      clear: both; }
    .top-bar .toggle-topbar {
      display: none; }
    .top-bar .title-area {
      float: left; }
    .top-bar .name h1 a {
      width: auto; }
    .top-bar input,
    .top-bar .button {
      line-height: 2em;
      font-size: 0.875em;
      height: 2em;
      padding: 0 10px;
      position: relative;
      top: 8px; }
    .top-bar.expanded {
      background: #111111; }
	.contain-to-grid {

	background: #000;
	}
  .contain-to-grid .top-bar {
    max-width: 62.5em;
    margin: 0 auto;
    margin-bottom: 0; }

  .top-bar-section {
    -webkit-transition: none 0 0;
    -moz-transition: none 0 0;
    transition: none 0 0;
    left: 0 !important; }
    .top-bar-section ul {
      width: auto;
      height: auto !important;
      background:#000;
      display: inline; }
      .top-bar-section ul li {
        float: left; }
        .top-bar-section ul li .js-generated {
          display: none; }
    .top-bar-section li.hover > a:not(.button) {
      background: black;
      color: white; }
    .top-bar-section li a:not(.button) {
      padding: 0 15px;
      line-height: 40px;
      background: #111111; }
      .top-bar-section li a:not(.button):hover {
        background: black; }
    .top-bar-section .has-dropdown > a {
      padding-right: 35px !important; }
      .top-bar-section .has-dropdown > a:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
        border-top-style: solid;
        margin-top: -2.5px;
        top: 22.5px; }
    .top-bar-section .has-dropdown.moved {
      position: relative; }
      .top-bar-section .has-dropdown.moved > .dropdown {
        display: none; }
    .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
      display: block; }
    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
      border: none;
      content: "\00bb";
      top: 1em;
      margin-top: -7px;
      right: 5px; }
    .top-bar-section .dropdown {
      left: 0;
      top: auto;
      background: transparent;
      min-width: 100%; }
      .top-bar-section .dropdown li a {
        color: white;
        line-height: 1;
        white-space: nowrap;
        padding: 7px 15px;
        background: #1e1e1e; }
      .top-bar-section .dropdown li label {
        white-space: nowrap;
        background: #1e1e1e; }
      .top-bar-section .dropdown li .dropdown {
        left: 100%;
        top: 0; }
    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
      border-bottom: none;
      border-top: none;
      border-right: solid 1px #2b2b2b;
      border-left: solid 1px black;
      clear: none;
      height: 45px;
      width: 0; }
    .top-bar-section .has-form {
      background: #111111;
      padding: 0 15px;
      height: 45px; }
    .top-bar-section ul.right li .dropdown {
      left: auto;
      right: 0; }
      .top-bar-section ul.right li .dropdown li .dropdown {
        right: 100%; }

  .no-js .top-bar-section ul li:hover > a {
    background: black;
    color: white; }
  .no-js .top-bar-section ul li:active > a {
    background: #090909;
    color: white; }
  .no-js .top-bar-section .has-dropdown:hover > .dropdown {
    display: block; } }



/*
Scrollbar
*/
/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

.nano {  width: 100%; height: 300px; }
.nano .content { padding: 10px; }
.nano .pane   { background: #333; }
.nano .slider { background: #ccc; }

.feed-loader{
	height:120px;
	color:#ccc;
	text-align:center;
	padding-top:15px;
}
#load-more{
	
}
